google-generativeai
python-docx
requests
fastapi
uvicorn
slowapi
openai
python-multipart
pydantic
python-dotenv
google-cloud-storage
jinja2
PyPDF2
chromadb
openai
gunicorn
azure-storage-blob
PyJWT[crypto]